html,
body {
  overflow-x: hidden;
}

body {
  background-color: rgb(31, 30, 30);
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: white;
  font-size: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  max-width: 30rem;
  width: 90vw;
  margin: 3rem auto;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 6px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea,
select {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgb(184, 184, 184);
  padding: 0.25rem;
  color: rgb(61, 58, 58);
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

input:focus {
  background-color: rgb(219, 190, 253);
  color: rgb(32, 5, 63);
  border-color: rgb(32, 5, 63);
}

button {
  display: block;
  font: inherit;
  background-color: rgb(32, 5, 63);
  color: white;
  border: 1px solid rgb(32, 5, 63);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(52, 14, 95);
  border-color: rgb(52, 14, 95);
}

.form-control-inline {
  display: flex;
}

.form-control-inline input {
  width: auto;
}

@media (max-width: 30rem) {
  form {
    max-width: 90vw;
    padding: 0.5rem;
    margin: 1rem auto;
    border-radius: 0;
  }

  h1 {
    font-size: 2rem;
  }

  label {
    font-size: 1rem;
  }

  input,
  textarea,
  select {
    font-size: 1rem;
    padding: 0.4rem;
  }
}

@media (min-width: 30.063rem) and (max-width: 48rem) {
  form {
    max-width: 90vw;
    padding: 1rem;
    margin: 2rem auto;
  }

  h1 {
    font-size: 2.5rem;
  }

  label {
    font-size: 1.08rem;
  }

  input,
  textarea,
  select {
    font-size: 1.06rem;
    padding: 0.45rem;
  }
}
